@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
   --linear: linear-gradient(
      135deg,
      #40ddff 0%,
      #14bae3 19.24%,
      #13b1e6 68.64%,
      #11aadf 81.77%,
      #0b98c5 100%
   );
   --radial: radial-gradient(
      123.22% 129.67% at 100.89% -5.6%,
      #201d47 0%,
      #17153a 100%
   );
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
   background: var(--radial);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   padding-block: 30px 0;
   margin-inline: 20px;
}

img {
   user-select: none;
}

#container {
   max-width: 1100px;
   margin-inline: auto;
}


nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav .logo {
   display: flex;
   align-items: center;
   gap: 9px;
   cursor: pointer;
}

nav .logo a {
   color: #fff;
   text-decoration: none;
   font-size: 24px;
   font-weight: 500;
}

nav .list {
   display: flex;
   list-style: none;
}

nav .list li {
   cursor: pointer;
   padding-inline: 12px;
   padding-block: 11px 10px;
   position: relative;
}

nav .list li a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
   font-weight: 500;
}

nav .list li:last-child {
   margin-left: 50px;
   background: var(--linear);
   border: 1px solid #ffffff;
   border-radius: 10px;
   transition: border-radius 0.2s;
}

nav .list li:last-child:hover {
   border-radius: 10px 10px 0 0;
}

nav .list li span {
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #fff;
   bottom: 0;
   left: 0;
}

nav .bar-icon {
   display: none;
   cursor: pointer;
   margin-left: 10px;
}

/*  */

.home {
   display: flex;
}

.home .content {
   margin-top: 108px;
}

.home .content h1 {
   width: 420px;
   font-size: 60px;
   color: #fff;
   margin-bottom: 15px;
}

.home .content p {
   color: #fff;
   opacity: 0.7;
   max-width: 440px;
   font-weight: 500;
   margin-bottom: 60px;
}

.home .content a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 60px;
   background: var(--linear);
   border-radius: 10px;
   font-size: 14px;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
}

.home .img {
   display: flex;
   align-items: center;
}

.home .img img {
   width: 100%;
}

/*  */

footer {
   margin-top: 80px;
   box-shadow: 0 0 0 100vmax #121030;
   clip-path: inset(0 -100vmax);
   background-color: #121030;
   padding-block: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 120px;
}

footer ul {
   list-style: none;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: 30px;
}

footer ul li {
   color: #fff;
   font-size: 19px;
   cursor: default;
   position: relative;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 8px;
   text-align: center;
}

footer ul li a {
   color: #40ddff;
   text-decoration: none;
   font-weight: 500;
   text-align: center;
}

footer ul li a:hover {
   text-decoration: underline;
   text-decoration-thickness: 3px;
}

footer ul li.alert {
   display: flex;
   gap: 10px;
}

@media (max-width: 930px) {
   nav .list {
      display: none;
   }
   nav .bar-icon {
      display: block;
   }
   .home .content {
      margin-inline: auto;
   }
   .home .img {
      display: none;
   }
   footer {
      flex-direction: column;
      gap: 30px;
   }
   footer ul {
      align-items: center;
   }
}

@media (max-width: 576px) {
   .home .content h1 {
      font-size: 32px;
      width: 100%;
   }
}